absl-py
arviz
beartype==0.20.2
blackjax
bokeh
Brotli
cached-property
cffi
chex
click
cloudpickle
cola-ml==0.0.7
cola-plum-dispatch==0.1.4
contourpy
cycler
cytoolz
dask
distributed
etils
fastprogress
flax==0.10.6
fonttools
fsspec==2025.3.2
gpjax==0.11.2
h2
h5netcdf
h5py
hpack
humanize==4.12.3
hyperframe
importlib_metadata
importlib_resources==6.5.2
jax
jaxlib<0.7.0
jaxopt
jaxtyping==0.3.2
Jinja2
kiwisolver
# git+ssh://git@github.com/jamesbriant/KOH-GPJax.git@1a081d8ad39deca26d427d3b6c412727fec3fa22#egg=kohgpjax
kohgpjax @ git+https://github.com/jamesbriant/KOH-GPJax.git@1a081d8ad39deca26d427d3b6c412727fec3fa22
locket
lz4
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.10.3
mdurl==0.1.2
mici==0.3.0
ml-dtypes
msgpack==1.1.0
multipledispatch==1.0.0
munkres==1.1.4
narwhals
nest-asyncio==1.6.0
numpy
numpyro==0.19.0
opt_einsum
optax
optree==0.15.0
orbax-checkpoint==0.11.13
packaging
pandas
partd
patsy
pillow
protobuf==6.31.0
psutil
pyarrow==20.0.0
pycparser
Pygments==2.19.1
pyparsing
PySocks
python-dateutil
pytz
PyYAML
rich==14.0.0
scipy
seaborn
simplejson==3.20.1
six
sortedcontainers
statsmodels
tblib
tensorstore==0.1.75
toolz
tornado
tqdm==4.67.1
treescope==0.1.9
typing_extensions
tzdata
unicodedata2
urllib3
wadler_lindig==0.1.6
xarray
xarray-einstats
xyzservices
zict
zipp==3.21.0
zstandard==0.23.0
